.nav-bar {
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.nav-btn{
    margin-left: 24px;
   font-size: 20px;
   margin-top: 4px;
}
.bold{
    font-weight: bold;

}

.search-bar {
    width: 220px;
    background-color: aliceblue;
    color: black;
    height: 36px;
    justify-content: start;
    display: flex;
    align-items: center;
    border-radius: 8px;
    cursor: text;
    
}

.search-btn {
    justify-content: start;
    display: flex;
    align-items: center;
    border-radius: 8px;
    justify-self: end;
    border: 1px solid white;
    height: 36px;
    width: 120px;
    cursor:pointer ;
}


.search-text{
    margin-left: 12px;
}
.navbar-left,
.navbar-right {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 12px;
    justify-content: space-between;
}

.main-title{
    font-size: 48px;
}


.main-heading{
    width: 100%;
    
    justify-content: space-between;
    display: flex;
    align-items: center;
}
.main-title{
    margin-left: 24px;
   
   
}

.add-btn{
    background-color: rgb(88, 137, 229);
    height: 60px;
    width: 160px;
    display: flex;
    justify-content: center;
    margin-right: 24px;
    border-radius: 12px;
    color:white;
    cursor: pointer;
    font-size: 24px;
    align-items: center;
}

.employee-table-div{
    display: flex;
    justify-content: center;
    
    width: 100%;
    
}

.add-link{
    text-decoration: none;
    color: white;
}
.employee-table{
    margin: 16px;
    
    width: 90%;
    justify-content: center;
    text-align: center;
    font-size: 32px;
    height: 50vh;
    border-radius: 12px;
    border-collapse: collapse;
    box-shadow: 1px 1px 1px 1px gray;
}

.edit-btn{
    background-color: rgb(235, 197, 71);
    height: 48px;
    width: 60px;
    
    border: none;
    margin-right: 24px;
    border-radius: 6px;
    color:white;
    cursor: pointer;
    color: black;
    font-size: 16px;
}

.delete-btn{
    background-color: rgb(232, 66, 66);
    height: 48px;
    width: 80px;
    font-size: 16px;
    border: none;
    margin-right: 24px;
    border-radius: 6px;
    color:white;
    cursor: pointer;

}

 .tr-border {
  border-top: 1px solid black;
  border-collapse: collapse;
  
}

.table-head{
    margin: 12px;
    padding: 12px;
}

.container{
    display: flex;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 90vh;
    align-items: center;
}

.pop-up-form{
    border: 1px solid rgb(124, 139, 225);
    width: 50%;
    
    box-shadow:  1px 1px 1px 1px gray;
    
}

.form-header{
    height: 60px;
    background-color:  rgb(124, 139, 225);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-title{
    color: rgb(255, 255, 255);
    font-size: 20px;
    margin-left: 12px;
}

.form-close-btn{
    margin-right: 12px;
    cursor: pointer;
}

.employee-form-div{
    display: flex;
    
    width: 100%;
}
.employee-form{
    width: 100%;

}
.form-group{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 12px;
}


.form-row{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-input{
    height: 30px;
    width: 480px;
    margin: 12px;
    border: 1px solid gray;
    border-radius: 4px;
}

.form-select{
    height: 36px;
    width: 300px;
    margin-right: 12px;
    margin-left: 12px;
    text-align: center;
    border-radius: 4px;
}

.radio-group{
    margin-bottom: 12px;
    margin-top: 12px;
    width: 38%;
}

.form-actions{
    width: 100%;
    
    height: 60px;;
    display: flex;
    align-items: center;
    justify-content: end;
}

.save-btn{
    background-color: rgb(88, 175, 104);
    height: 48px;
    width: 60px;
    
    border: none;
    margin-right: 24px;
    border-radius: 6px;
    color:white;
    cursor: pointer;
    
    font-size: 16px;
}

.cancel-btn{
    background-color: rgb(155, 148, 148);
    height: 48px;
    width: 80px;
    
    border: none;
    margin-right: 24px;
    border-radius: 6px;
    color:white;
    cursor: pointer;
    
    font-size: 16px;
}