.container{
    width: 100%;
    height: 100vh;
    display: flex;
    background-color:antiquewhite ;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.form-div{
    width: 70%;
    height :70vh;
    background-color: aliceblue;
    justify-content: space-around ;
    align-items: center;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border: 2px solid black;
    border-radius: 5px;
}
.form-row{
    width: 100vh;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.input-box-row{
    width: 47vh;
    margin: 2px;
    height: 5vh;
}

.input-box{
    width: 95.5vh;
    height: 5vh;
    align-self: center;
    justify-self: center;
}

.msg-box{
    width: 96vh;
    height: 15vh;
    align-self: center;
    justify-self: center;
}

.form-row-msg-box{
    width: 100vh;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.form-footer button {
    background-color: #5bc0de;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px 22px;
    font-size: 14px;
    cursor: pointer;
    font-family: inherit;
    transition: background-color 0.2s;
}
.form-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 4px;
    
    padding: 1.7vh;
}