.container{
    width: 100%;
    height: 100vh;
    display: flex;
    background-color:antiquewhite ;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.d-flex{
    display: flex;
}
.alg-center{
    align-items: center;
}
.justify-space-btwn{
    justify-content: space-between;
}

.justify-space-center{
    justify-content: center;
}
.content-box{
    background-color: white;
    border: 2px solid aqua;
    width: 90%;
    height: 80vh;
    overflow: hidden;
}

.card{
    width: 100vh;
    border: 1px solid black;
    height: 45vh ;
    margin: 4vh;
    padding: 2vh;
    overflow: hidden;
    min-height: 45vh;
    max-height: 45vh;
    box-shadow: 2px 2px 2px 2px gray;
}

.right-text{
    
    border: 1px solid black;
    height: 45vh ;
    margin: 4vh;
    padding: 2vh;
    overflow: hidden;
    box-shadow: 2px 2px 2px 2px gray;
}

.bold-paragraph {
    font-weight: 700;
    color: #222;
}

.author {
    margin-top: 8px;
}

.author-name {
    font-size: 13px;
    font-weight: 700;
    color: #222;
    margin-bottom: 4px;
}

p {
    font-size: 16px;
    color: #555;
    line-height: 1.7;
}
