.d-flex{
    background-color: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 12px;
    padding-right: 12px;

}
a{
    text-decoration: none;
    color: black;
}
.h-container{
    background-image: url(/css-clone-travel-page-v1/extra-files/cities-page-2/ocean.jpg);
}
.nav-items{
    display: inline;
    color: yellow;
}
li {
display: inline;

}
.nav-items{
    text-decoration: none;
    color: yellow;
    padding: 12px;
}

.brand-logo{
    text-decoration: none;
    font-size: 24px;
    color: yellow;
    text-shadow: 10px 10px 10px 10px grey;
}

.container{
    overflow: hidden;
    margin-bottom: 0;
    width: 100%;
    height:60vh;
    background-color: rgb(189, 174, 154);
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    background-image:url(/css-clone-travel-page-v1/extra-files/cities-page-2/ocean.jpg);
}

.content-div{
    overflow: hidden;
    background-color: rgba(40, 39, 31, 0.4);
    display: flex;
    justify-content: space-around;
    border-radius: 5px;
    align-items: center;
    flex-direction: column;
    width: 60%;
    height: 35vh;
    margin-bottom: 40px;
}

.hero-txt{
    color: white;
}

.hero-title{
    color: white;
    margin-bottom: 0px;
    
}



.hero-btn{
    background-color: yellow;
    text-decoration: none;
    color: black;
    width: 40%;
    height: 5vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.highlight-sec{
    overflow: hidden;
    background-color: rgb(186, 241, 241);
    margin-top: -20px;
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    
}
body{
    margin: 0 0 0 0 ;
    margin-bottom: 0;
}
.hl-title{
    align-self: center;
}
.img-list{
    margin-left: 24px;
    margin-right: 24px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding:0;
}
.destination{
    margin: 10px;
    display: flex;
    flex-direction: column;
}
.city-img{
    width: 40vh;
    height: 17vh  ;
    border-radius: 4px;
}
p{
    align-self: center;
    
    
}
strong{
    color: rgb(46, 134, 134);
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    
}
.btm-footer{
    width: 100%;
    height: 10vh;
    margin-top: auto;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:40vh;
    padding-left: 0;
}
.icons{
    width: 5vh;
    cursor: pointer;
}